.imgClass {
    width: 330px;
    height: 110px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.imgGoogleplus {
    background: url(../../resources/img/signin_google.png) no-repeat;
}
.imgFacebook {
    background: url(../../resources/img/signin_face.png) no-repeat;
}
